.arrows {
  transition: ease-in 0.2s;
  animation-name: blink;
  animation-duration: 1.5s;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

a {
  width: 100%;
  height: 100%;
}

button {
  cursor:grab;
}

.stickyScroll {
  background-color: #0f0f0f;
  top: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 105px 45px #0f0f0f;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}