.arrows {
  transition: ease-in 0.2s;
  animation-name: blink;
  animation-duration: 1.5s;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

a {
  width: 100%;
  height: 100%;
}

.projectCard {
  background-color: rgba(30, 30, 30, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: '1px solid #333'
}

.OutContainer {
  background-image: linear-gradient(#1a1a1a 1px, transparent 1px),
                    linear-gradient(90deg, #1a1a1a 1px, transparent 1px);
  background-size: 40px 40px;
}

.projectCard button {
  background: transparent;
  border: 1px solid #52525b;
  color: #fff;
}

.ProjectText {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.projectCard button:hover {
  border-color: #fff;
  background-color: rgba(17, 17, 17, 0.5);
}

button {
  cursor:pointer;
}

.stickyScroll {
  background-color: #0f0f0f;
  top: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 105px 45px #0f0f0f;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}