@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.scrollContainer {
  height: 300vh;
}

.subMain {
  display: flex;
  padding-top: 13vh;
  align-items: center;
  justify-content: center;
  gap: 14vw;
}

.scrollAdvise {
  font-size: 2vw;
  transition: ease-in 0.2s;
  animation-name: blink;
  animation-duration: 1.5s;
}

.arrows {
  transition: ease-in 0.2s;
  animation-name: blink;
  animation-duration: 1.5s;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.fox {
  width: 30vmax;
  height: 66vmin;
}

.socialButton {
  width: 2.5vw;
  height: 2.5vw;
}

.socialButton svg {
  width: 2.5vw;
  height: 2.5vw;
}

.title {
  font-size: 6vmax;
  font-weight: 800;
  color: white;
  margin-top: 0px;
  opacity: 0.8;
}

.title::selection {
  color: #71FFEA;
  background-color: #13020F;
}

.subtitle {
  font-size: 2vw;
  font-family: "Space Mono", monospace;
  color: white;
  opacity: 0.7;
  padding-top: 3vh;
}

.subtitle::selection {
  color: #71FFEA;
  background-color: #13020F;
}

.stickyScroll {
  background-color: #0f0f0f;
  top: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 105px 45px #0f0f0f;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}