@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.scrollContainer {
  height: 300vh;
}

.scrollTextContainer {
  padding-top: 40vh;
  padding-left: 10vw;
  padding-right: 15vw;
}

.fox {
  margin-top: 9vw;
  width: 30vw;
  height: 66vh;
}

.title {
  font-size: 6vw;
  color: white;
  margin-top: 0px;
  opacity: 0.8;
}

.title::selection {
  color: #71FFEA;
  background-color: #13020F;
}

.subtitle {
  font-size: 2vw;
  font-family: "Space Mono", monospace;
  color: white;
  opacity: 0.7;
  padding-top: 3vh;
}

.subtitle::selection {
  color: #71FFEA;
  background-color: #13020F;
}

.stickyScroll {
  background-color: #0f0f0f;
  top: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 105px 45px #0f0f0f;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}