.scrollContainer {
  height: 200vh;
}

.title {
  font-size: 4rem;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.stickyScroll {
  background-color: black;
  top: 0;
  height: 100vh;
  width: 100vw;
}